.hero {
  min-height: 125px;
  height: 20vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.hero .content {
  color: var(--main-color);
  text-transform: capitalize;
}

.content .path {
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.content .mainTitle {
  font-size: var(--h1-clamp);
  font-weight: bold;
}

.shape {
  position: absolute;
  /* right: -10vw; */
  width: 50vw;
  height: 100vw;
  color: var(--main-color);
  transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shape::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shape::after {
  content: "";
  background-image: url(../../../public/pagesHero.png);
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

.products {
  text-transform: capitalize;
}

.products .subTitle {
  max-width: 450px;
  font-weight: bold;
}

.productsItemsWrapper {
}

.productsItemsWrapper .item {
  border: 2px solid black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.productsItemsWrapper .item h3 {
  font-size: var(--h3-clamp);
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .productsItemsWrapper .item h3 {
    font-size: var(--h4-clamp);
  }
}

@media screen and (max-width: 992px) {
  .productsItemsWrapper .item h3 {
    font-size: var(--h3-clamp);
  }
}

.itemBodyHidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  justify-content: center;
  transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
}

.itemBodyHidden .image {
  opacity: 0.5;
}

.itemBodyHidden .title {
  border-block-end: 1px solid white;
  padding-block-end: 15px;
  width: 75%;
  text-align: center;
  color: white;
  font-size: var(--h4-clamp);
}

.itemBodyHidden .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.itemBodyHidden .link a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.itemBodyHidden .link a span {
  color: white;
}

.itemBodyHidden .link a i {
  color: var(--third-color);
}

.productsItemsWrapper .item:hover .itemBodyHidden {
  opacity: 1;
}
